*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: aqua;
    color: blue;
    display: flex;
}

.name, .type{
    margin: 20px 50px;
}

ul{
    list-style-type: none;
}

li{
    line-height: 2rem;
}